<!DOCTYPE html>
<html lang="en-us">


<head>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Exploring Credit Card Fraud">
  <meta name="author" content="Han Zhao, Zach Adams, David Ruppel, and Morgan Tighe">
  <title>Detecting Credit Card Fraud</title>
  <link rel="stylesheet" href="./assets/css/styles.css" media="screen">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/product/">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
  integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
  integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
  crossorigin="anonymous"></script>

<!-- D3 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

<!-- Plotly JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Boostrap Stylesheet -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen">

<!-- Our own CSS stylesheet -->
<link rel="stylesheet" href="assets/css/styles.css" media="screen">

</head>

<body>
<!-- Start of navbar -->
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/team">Meet the Team</a></li>
  <li><a href="/discovery.html">Discovery</a></li>
  <li><a href="/data.html">Data</a></li>
  <li><a href="/project.html">Project</a></li>
  <li><a href="/graphs.html">Graphs</a></li>
</ul>

<!-- Start of container -->
<div class="container">
  <section class="row">
    <div class="col-md-8">
      <article class="description-content">
        <h1 class="description-header">Discovering Credit Card Fraud</h1>
        <hr class="description-hr"/>
        <img src="assets/images/shutterstock_374227129.jpg" alt="" id="description-image"/>
        <p>The purpose of this project was to analyze data to detect credit card fraud across accounts. In doing so, we built a program that could flag an account with fraud using machine learning.</p>
        <p>After assembling the dataset, we used AWS to store the data, SQL to pull in the data, and python to code for machine learning. We also created the webpage and deployed it on Heroku.</p>
      </article>
    </div>
    </section>
    
    <div class="col-md-4">
      <!-- Start of Visualizations imageNav Area -->
      <section id="imageNav-area">
        <div class="imageNav-content">
          <h2 class="imageNav-header">Visualizations</h2>
          <hr />
          <div id="images">
            <a href="/graphs.html"><img src="assets/images/confusion_matrix_knn_GOOD_real.PNG" alt="KNN Confusion Matrix - Real Data" class="imageNav-photo"></a>
            <a href="/graphs.html"><img src="assets/images/confusion_matrix_log_GOOD_real.PNG" alt="Log Confusion Matrix - Real Data" class="imageNav-photo"></a>
            <a href="/graphs.html"><img src="assets/images/confusion_matrix_log_GOOD_synthetic.PNG" alt="Log Confusion Matrix - Synthetic Data" class="imageNav-photo"></a>
          </div>
        </div>
      </section>
      <!-- End of the Visualizations imageNav Area -->
      </div>
      </div>
       </div>
<!-- End of container -->

<!-- Start of footer -->
<footer class="footer navbar-fixed-bottom">
  <div class="two-toned-footer-color">
  <p class="text-muted text-muted-footer text-center"><b>Zach Adams | David Ruppel | Han Zhao | Morgan Tighe</b></p>
  </div>
</footer>
<!-- End of footer -->

<!-- jQuery CDN -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- Bootstrap CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
  
  </html>
  